@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
body {
  display: flex;
  flex-direction: column;
  width: auto;
}

#accueil__header--dot {
  margin: 15px 10px 0 35%;
}

body {
  font-family: "Roboto", sans-serif;
}

.section__accueil1_h2 {
  font-size: 26px;
  font-weight: 700;
}
.section__accueil1_h4 {
  font-size: 18px;
  font-weight: 300;
}

.section__accueil2_h2 {
  font-size: 26px;
  font-weight: 700;
}
.section__accueil2_Nbronnd {
  font-size: 14px;
}

.texte_decoration {
  text-decoration: none;
  color: black;
}

.footer_texte {
  font-size: 18px;
  font-weight: 500;
  color: #FFFFFF;
}
.footer_texte_bas {
  color: #FFFFFF;
}
.footer_texte--align {
  color: #FFFFFF;
}

.accueil__header {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 100%;
  margin: auto;
}
.accueil__header__logo {
  width: 60%;
  margin: 20px 0 15px 0;
}
.accueil__header__localisation {
  background-color: #e1e1e1;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.accueil__header__localisation--txt {
  margin-left: 10px;
  font-weight: 500;
}

.footer {
  background-color: #363636;
}
.footer_logo {
  width: 125px;
  filter: invert(100%);
  margin: 20px 0 0 20px;
}
.footer_texte {
  margin-left: 10px;
}
.footer_texte--align {
  display: flex;
  align-items: center;
  margin-left: 20px;
  margin-bottom: -20px;
}
.footer_texte_bas {
  margin-left: 20px;
}

.footer_texte_align {
  margin: 0 0 -15px 5px;
}

.section__accueil1 {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  text-align: center;
  padding-left: 25px;
  padding-right: 25px;
}
.section__accueil1_h2 {
  margin: 20px 0 -15px 0;
}
.section__accueil1_btn {
  color: #FFFFFF;
  border-radius: 30px;
  padding: 15px;
  margin-bottom: 50px;
  border-color: #eeeeee;
  background: linear-gradient(to bottom right, #FF79DA, #9356DC);
  box-shadow: 5px 5px 10px 1px rgba(0, 0, 255, 0.2);
}
.section__accueil1_btn--txt {
  margin: 0 5px 0 5px;
}

.section__accueil1 {
  background-color: #eeeeee;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
}

.section__accueil2 {
  display: flex;
  flex-direction: column;
}
.section__accueil2_h2 {
  margin: 50px 0 20px 10px;
}
.section__accueil2_direction {
  display: flex;
  flex-direction: column;
}
.section__accueil2_btn {
  display: flex;
  margin-left: 7%;
  margin-bottom: 20px;
  width: 85%;
  border-radius: 20px;
  box-shadow: 5px 5px 10px 1px rgba(0, 0, 255, 0.2);
  border-color: #FFFFFF;
}
.section__accueil2_btn--align {
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
}
.section__accueil2_btn_Nbronnd {
  padding: 6px 10px;
  background: linear-gradient(to bottom right, #FF79DA, #9356DC);
  margin-left: -20px;
  border-radius: 15px;
  color: #FFFFFF;
  margin-right: 20px;
}
.section__accueil2_btn_texte {
  margin-left: 15px;
}

.Article__accueil {
  display: flex;
  background-color: #eeeeee;
  flex-direction: column;
  padding-bottom: 50px;
}
.Article__accueil--h2 {
  margin: 40px 0 10px 5%;
}
.Article__accueil_card {
  width: auto;
  height: 240px;
  max-width: 90%;
  min-width: 89%;
  overflow: hidden;
  background-color: #FFFFFF;
  border-radius: 10px;
  margin: 15px 0 0 5%;
}
.Article__accueil_card__coeur {
  float: right;
  margin: -30px 20px 0 0;
  font-size: 20px;
}
.Article__accueil_card--img {
  width: 100%;
  height: 180px;
  -o-object-fit: cover;
     object-fit: cover;
}
.Article__accueil_card_texte--haut {
  margin: 10px 0 0 10px;
}
.Article__accueil_card_texte--bas {
  margin: 0 0 0 10px;
}

/*! normalize.css v8.0.1 | MIT License | github.com/necolas/normalize.css */
/* Document
   ========================================================================== */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */
html {
  line-height: 1.15; /* 1 */
  -webkit-text-size-adjust: 100%; /* 2 */
}

/* Sections
   ========================================================================== */
/**
 * Remove the margin in all browsers.
 */
body {
  margin: 0;
}

/**
 * Render the `main` element consistently in IE.
 */
main {
  display: block;
}

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* Grouping content
   ========================================================================== */
/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  box-sizing: content-box; /* 1 */
  height: 0; /* 1 */
  overflow: visible; /* 2 */
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

/* Text-level semantics
   ========================================================================== */
/**
 * Remove the gray background on active links in IE 10.
 */
a {
  background-color: transparent;
}

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none; /* 1 */
  text-decoration: underline; /* 2 */
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted; /* 2 */
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Embedded content
   ========================================================================== */
/**
 * Remove the border on images inside links in IE 10.
 */
img {
  border-style: none;
}

/* Forms
   ========================================================================== */
/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
  font-family: inherit; /* 1 */
  font-size: 100%; /* 1 */
  line-height: 1.15; /* 1 */
  margin: 0; /* 2 */
}

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input { /* 1 */
  overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select { /* 1 */
  text-transform: none;
}

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */
button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
 * Correct the padding in Firefox.
 */
fieldset {
  padding: 0.35em 0.75em 0.625em;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  box-sizing: border-box; /* 1 */
  color: inherit; /* 2 */
  display: table; /* 1 */
  max-width: 100%; /* 1 */
  padding: 0; /* 3 */
  white-space: normal; /* 1 */
}

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  vertical-align: baseline;
}

/**
 * Remove the default vertical scrollbar in IE 10+.
 */
textarea {
  overflow: auto;
}

/**
 * 1. Add the correct box sizing in IE 10.
 * 2. Remove the padding in IE 10.
 */
[type=checkbox],
[type=radio] {
  box-sizing: border-box; /* 1 */
  padding: 0; /* 2 */
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type=search] {
  -webkit-appearance: textfield; /* 1 */
  outline-offset: -2px; /* 2 */
}

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */
[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button; /* 1 */
  font: inherit; /* 2 */
}

/* Interactive
   ========================================================================== */
/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */
details {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item;
}

/* Misc
   ========================================================================== */
/**
 * Add the correct display in IE 10+.
 */
template {
  display: none;
}

/**
 * Add the correct display in IE 10.
 */
[hidden] {
  display: none;
}/*# sourceMappingURL=main.css.map */