.footer{
    height: 200px;
    display: flex;
    flex-direction: column;
    background-color: darken($color_fond, 72);
    &_logo{
    width: 100px;
    filter:invert(100%);
    margin: 20px 0 0 20px;
    }  
    &_texte{
        
        margin-left :10px; 
        &--align{
            display: flex;
            align-items: center;
            margin-left: 20px;
            margin-bottom: -20px;
        } 
        &_bas{
            align-items: center;
            margin-left: 20px;
        }
    }

}
.footer_texte_align{
    margin: 0 0 -5px 5px;
}