.accueil__char{
    position: absolute;
    width: 100%;
    height: 110%;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 1;
    margin-top: -130px;
    opacity: 0;
    animation: loader_end 2.4s ease-out forwards;
    &__lettre{
        display: flex;
        font-family: 'Shrikhand';
        color: $color_primaire;
        font-size: 200%;
        letter-spacing: 10px;
        animation: flash 1.2s linear infinite  ;
    }
}
@keyframes flash {
    0%{
        color: $color_secondaire;
        text-shadow: 0 0 7px #ffffff;
    }
    90%{
        color: $color_primaire;
        text-shadow: none;
    }
    100%{
        color: $color_secondaire;
        text-shadow: 0 0 7px #ffffff;
    }

}
@keyframes loader_end {
    0%{
        z-index: 3;
        opacity: 1;
    }
    99%{
        z-index: 3;
        opacity: 1;
    }
    100%{
        opacity: 0;
        z-index: -1;
    }
    
}
.accueil__char__lettre:nth-child(1){
    animation-delay: 0.1s;
}
.accueil__char__lettre:nth-child(2){
    animation-delay: 0.2s;
}
.accueil__char__lettre:nth-child(3){
    animation-delay: 0.3s;
}
.accueil__char__lettre:nth-child(4){
    animation-delay: 0.4s;
}
.accueil__char__lettre:nth-child(5){
    animation-delay: 0.5s;
}
.accueil__char__lettre:nth-child(6){
    animation-delay: 0.6s;
}
.accueil__char__lettre:nth-child(7){
    animation-delay: 0.7s;
}
.accueil__char__lettre:nth-child(8){
    animation-delay: 0.8s;
}
.accueil__char__lettre:nth-child(9){
    animation-delay: 0.9s;
}
.accueil__char__lettre:nth-child(10){
    animation-delay: 1s;
}