.head__menu{
    &__head{
        display: flex;
        margin: 30px 0 15px 25px;
    }
    &--fleche{
        font-size: $icones;
        display: flex;
        align-items: center;
    }
    &--logo{
        width: 50%;
        display: inline;
        justify-content: center;
        margin:auto;
    }
    &--img{
        object-fit: cover;
        width: 100%;
        height: 300px;
    }
}
.section{
    overflow: hidden;
    border-top-right-radius: 50px;
    border-top-left-radius: 50px;
    background-color: $color_fond;
    margin-top: -40px;
    &__tete{
        &__coeur{
            &--base{
            display: inline;
            float: right;
            font-size: $icones ;
            margin-top: -50px;
            margin-right: 25px;
            &:hover{
                .section__tete__coeur--anim{
                    animation: slide-top 0.3s cubic-bezier(1,1,0,0) both;}
                }
            }
            &--anim{
                margin-top: -25.5px;
                opacity: 1;
                @include heart-full;
                
            }
        
    }
        
        &--titre{
            font-family: 'Shrikhand';
            font-size: 26px;
            margin: 40px 0 20px 5%;
        }

    }
    &__menu{
        &--titre{
            font-weight: 400;
            font-size: 18px;
            margin-left: 5%;
            text-decoration: underline 3px $color_tertiaire;
            text-underline-offset: 8px;
            margin-top: 40px;

        }
        &__card{
            margin: 10px 0 0 5%;
            width: 90%;
            height: 70px;
            background-color: #FFFFFF;
            display: flex;
            justify-content: space-between;
            border-radius: 15px;
            overflow: hidden;
            text-overflow: ellipsis; 
            &__texte{
                flex-direction: column;
                margin-left: 10px;
                margin-top: -5px;
                text-overflow: ellipsis;
                overflow: hidden;
                white-space: nowrap;
        
                &--txtbas{
                    margin-top: -15px;
                }
            }

            &__prix{
                display: flex;
                justify-content: center;
                align-items: center;

            }
            &
            &--prix{
                margin: 25px 10px 0 0;

            }
            
            &__valide{
                font-size: $icones;
                color: #FFFFFF;
                padding-top: 26px;
                padding-bottom: 26px;
                padding-left: 15px;
                padding-right: 15px;
                background-color: $color_tertiaire;
                display: none;
            }
        }
        
        
        
        
        
        
        
        &__btn{
            display: flex;
            justify-content:center;
            color: #FFFFFF;
            margin: auto;
            border-radius: 30px;
            padding: 15px;
            margin-top: 40px;
            margin-bottom: 40px;
            border-color: $color_fond;
            background: linear-gradient($color_primaire,$color_secondaire );
            box-decoration-break: none;
            box-shadow: 10px 5px 10px 1px rgba(0, 0, 255, .2);
            transition: all 1200ms;
            &:hover {
            background: linear-gradient(#ec88d0, $color_secondaire);
            box-shadow: 10px 5px 10px 1px black;
        }
            &--txt{
                margin: 0 20px 0 20px;
            }
        }
    }



}



