$color_primaire : #9356DC ;
$color_secondaire : #FF79DA;
$color_tertiaire : #99E2D0;
$color_white : #FFFFFF;
$color_fond : #eeeeee ;

body{
    display: flex;
    flex-direction: column;
    width: auto;
}


#accueil__header--dot{
    margin: 15px 10px 0 35%;
}
body{
    width: 100%;
    height: 100%;
}