body {
    font-family: 'Roboto', 'Shrikhand',sans-serif;
}

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Shrikhand&display=swap');

$icones: 22px;
.section__accueil1{
    &_h2{
        font-size: 26px;
        font-weight: 700;
    }
    &_h4{
        font-size: 18px;
        font-weight: 300;
    }
}
.Article__accueil--h2{
    font-size: 24px;
    font-weight: 700;
}
.section__accueil2{
    &_h2{
        font-size: 26px;
        font-weight: 700;
    }
    &_Nbronnd{
        font-size: 14px;
    }
}
.texte_decoration{
    text-decoration: none;
    color: black;
}
.footer_texte
{
    &_bas{
        color: #FFFFFF;
    }
    &--align{
        color: #FFFFFF;
    }
    font-size: 18px;
    font-weight: 500;
    color: #FFFFFF;
}
