@mixin dégrader-rv-biet{
    background: linear-gradient(to bottom right,$color_secondaire ,$color_primaire);
}
@mixin dégrader-rv-biet-coeur {
    color: linear-gradient(to bottom right,$color_secondaire ,$color_primaire);
    
}

@mixin align_card_accueil{
    margin: 15px 0 0 5%;
}

@mixin heart-full {
    background-image: $color-gradient;
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}